/** GENERAL HEIGHTS **/
html, body, main {
    height: 100%;
    overflow: hidden;
}

/** **/

body {
    background-image: url(../img/Background.png);
	background-repeat: repeat;
}

div.picture  {
    text-align: center !important;
}

img {
    display: inline !important;
}


/** NAVBAR **/

nav {
    background-color: #24CCB1 !important;
    height: 6em !important;
    border: 5px solid #449987 !important;
    border-radius: 0.3em !important;
}

.nav.navbar-nav {
    background-color: #24CCB1 !important;
}

nav a:hover {
    color: #24CCB1 !important;
}

#navbar-collapse ul a:hover {
    color: #24CCB1 !important;
}

nav div, a.navbar-brand {
    height: 100%;
    padding: 0;
}

a.navbar-brand img {
    max-height: 100%;
    width: auto;
}

#navbar_team {
    font-size: 2em;
    margin-top: 0.8em;
    margin-left: 2em;
}

#navbar-collapse ul {
    font-size: 2em;
}

#navbar-collapse ul a {
    color: #B9FFC9 !important;
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/** HEADER **/

header {
    margin-top: 8em;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2em;
}

/** MAIN **/


/** FOOTER **/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #24CCB1;
}

.footer div span, .footer div a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    margin-top: 1em;
}

/** CHAT */

.chat {
    border: 1px solid black;
}

/** GAME-DIV **/

.game_div {
    border: 1px solid black;
}

/** Screen-specific heights on gamesite**/

#gamesite_lgmd {
    height: 70%;
}

#gamesite_lgmd div {
    height: 100%;
}

#gamesite_sm {
    height: 70%;
}

#gamesite_sm div {
    height: 60%;
}

#gamesite_sm div:nth-of-type(3) {
    margin-top: 5%;
    height: 35%;
}

#gamesite_xs {
    height: 70%;
}

#gamesite_xs div {
    margin-top: 5%;
    height: 20%;
}

#gamesite_xs div:first-of-type {
    margin-top: 0;
    height: 50%;
}

/** Main der Zusatzseiten (Impressum/Hilfe)   **/

#zusatzseiten{
    padding-top: 6em;

}