/** GENERAL HEIGHTS **/
html, body {
    height: 100%;
    overflow: hidden;
}

/** **/

body {
    background-image: url(../img/Background.png);
    background-repeat: repeat;
}

div.picture {
    text-align: center !important;
}

img {
    display: inline !important;
}

/** NAVBAR **/

nav {
    height: 6em !important;

    background: #0E78AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #0E78AD, #BCD9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #0E78AD, #BCD9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #0E78AD, #BCD9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #0E78AD, #BCD9E8); /* Standard syntax */
}

.nav.navbar-nav {
    background-color: #0E78AD !important;
}

.nav.navbar-nav hr {
    margin: 0;
    border-top: 1px solid #BCD9E8 !important;
}

.navbar-collapse ul a:hover {
    background-color: #DB0E1C !important;
}

nav div, a.navbar-brand {
    height: 100%;
    padding: 0;
}

a.navbar-brand img {
    max-height: 100%;
    width: auto;
}

#navbar_team {
    font-size: 2em;
    margin-top: 0.8em;
    margin-left: 2em;
    display: inline-block;
}

.navbar-toggle {
    font-size: 2em;
    margin-top: 0.8em;
    border-color: #BCD9E8 !important;
}

.navbar-toggle:hover{
    background-color: #DB0E1C !important;
}

.navbar-toggle span{
    background-color: #BCD9E8 !important;
}

.navbar-collapse ul {
    font-size: 1.5em;
}

.navbar-collapse ul a {
    color: #BCD9E8 !important;
    padding: 10px !important;
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin-top: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}

/** HEADER **/

.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2em;
}

/** MAIN **/

main {
    height: 70%;
    overflow: hidden;
    margin-top: 10em;
}

main div {
    height: 100%;
}

/** CAROUSEL **/

main div .item.picture img{
    max-height: 62%;
    width: auto;
}

main div .item.picture .carousel-caption{
    height: 28%;
    padding-top: 2px;
    margin-top: 30px;
}

/** FOOTER **/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;

    background: #0E78AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0E78AD, #BCD9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0E78AD, #BCD9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0E78AD, #BCD9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0E78AD, #BCD9E8); /* Standard syntax */
}

.footer div span, .footer div a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    margin-top: 1em;
}

/** CHAT */

.chat {
    border: 1px solid black;
}

/** GAME-DIV **/

.game_div {
    border: 1px solid black;
}

/** Screen-specific heights on gamesite**/

#gamesite_lgmd {
    height: 100%;
}

#gamesite_lgmd div {
    height: 100%;
}

#gamesite_sm {
    height: 100%;
}

#gamesite_sm div {
    height: 60%;
}

#gamesite_sm div:nth-of-type(3) {
    margin-top: 5%;
    height: 35%;
}

#gamesite_xs {
    height: 100%;
}

#gamesite_xs div {
    margin-top: 5%;
    height: 20%;
}

#gamesite_xs div:first-of-type {
    margin-top: 0;
    height: 50%;
}

/** Main der Zusatzseiten (Impressum/Hilfe)   **/

#zusatzseiten{
    margin: 0;
    padding-top: 6em;
    padding-left: 2em;

}