body {
    background-image: url(../img/Background.png);
	background-repeat: repeat;
}

div.picture a img {
    padding-left: 170px;
}

.container-fluid {
    padding-right: 0 !important;
}

/** NAVBAR **/

nav {
    background-color: #24CCB1 !important;
    height: 6em !important;
    border: 5px solid #449987 !important;
    border-radius: 0.3em !important;
}

nav a:hover {
    color: #24CCB1 !important;
}

#navbar-collapse ul a:hover {
    color: #24CCB1 !important;
}

.navbar-brand {
    box-sizing: border-box;
    margin-top: 0.3em;
    font-size: 3em;
    letter-spacing: 0.2em;
    color: #B9FFC9 !important;
    background-color: red !important;
    border-bottom-right-radius: 6em;
    border-top-right-radius: 6em;
    padding-left: 4em;
}

#navbar-collapse ul {
    font-size: 2em;
    padding-right: 3em;
    margin-top: 0.5em;
    background-color: red !important;
    border-bottom-left-radius: 6em;
    border-top-left-radius: 6em;
}

#navbar-collapse ul a {
    margin-left: 3em;
    color: #B9FFC9 !important;
}

#navbar_team {
    font-size: 2em;
    margin-top: 0.8em;
    margin-left: 2em;
}

/** HEADER **/

header {
    margin-top: 8em;
}

header div h2 {
    text-align: center;
}

/** FOOTER **/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #24CCB1;
}

.footer div span, .footer div a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    margin-top: 1em;
}

/** CHAT */

.chat {
    border: 1px solid black;
}

/** GAME-DIV **/

#game_div {
    border: 1px solid black;
}